In [5]:

import pandas as pd
df = pd.read_csv(r"C:\Users\user\Downloads\sales.csv")
df

   id   item  quantity  price       timestamp
0   1  Bread         3    2.5  10-07-25 09:00
1   2   Milk         2    1.8  10-07-25 09:15
2   3   Eggs         1    3.0  10-07-25 09:30

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         3 non-null      int64
 1   item       3 non-null      object
 2   quantity   3 non-null      int64
 3   price      3 non-null      float64
 4   timestamp  3 non-null      object
dtypes: float64(1), int64(2), object(2)
memory usage: 252.0+ bytes

In [8]:
df.head()

   id   item  quantity  price       timestamp
0   1  Bread         3    2.5  10-07-25 09:00
1   2   Milk         2    1.8  10-07-25 09:15
2   3   Eggs         1    3.0  10-07-25 09:30

In [9]:
df.tail(2)

   id  item  quantity  price       timestamp
1   2  Milk         2    1.8  10-07-25 09:15
2   3  Eggs         1    3.0  10-07-25 09:30

In [23]:
df.describe()

        id  quantity     price
count  3.0       3.0  3.000000
mean   2.0       2.0  2.433333
std    1.0       1.0  0.602771
min    1.0       1.0  1.800000
25%    1.5       1.5  2.150000
50%    2.0       2.0  2.500000
75%    2.5       2.5  2.750000
max    3.0       3.0  3.000000